@using Fiap.UI.Escola.Web.Entities
@model Aluno?

@{
    var titulo = string.IsNullOrEmpty(Model?.nome)
                ? string.Empty
                : string.Concat(Model.nome, " - ");

    ViewBag.Title = string.Concat(titulo, nameof(Aluno).Pluralize());
}

@if (!string.IsNullOrEmpty(ViewBag.Mensagem))
{
    <a>@ViewBag.Mensagem</a>
}

<form action="/Alunos/Details" method="POST">
    <input type="hidden" name="id" value="@ViewBag.Id" />
    <div class="form-group">
        <label for="exampleFormControlInput1">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" value="@Model?.nome">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Usuário</label>
        <input type="text" class="form-control" name="usuario" id="usuario" value="@Model?.usuario">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Senha</label>
        <input type="password" class="form-control" name="senha" id="senha" value="@Model?.senha">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">
        Salvar
    </button>
</form>
